@charset "UTF-8";

html, body{
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    /*font-size: 20px;
*/
    text-align: center;
    color: #333;
    background-image: linear-gradient(to bottom, #f2f7ff, #fff);
    margin: 0;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    background-image: linear-gradient(to right, #007bff, #0056b3);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

header h1 {
    font-size: 32px;
    /*margin: 0 0 10px;
*/
    margin-left: 1%;
    margin-right: 1%;
}

header h3 {
    color: orange;
    margin: 0 0 10px;
}

nav {
    display: flex;
    justify-content: right;
    gap: 30px;
    margin: 0 0 10px;
   
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
    
}

nav a:hover {
    color: #ccc;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



div {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* ADICIONE */
    width: 100%;       /* ADICIONE */
    
    
}

h2 {
    color: #007bff;
    margin-bottom: 10px;
    font-family: times new roman;
}

h3 {
    color: #0056b3;
    margin-bottom: 10px;
    font-family: times new roman;
}

section a {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.2s;
}

section a:hover {
    text-decoration: underline;
}

#login {
    background-color: #f7f7f7;
    padding: 40px;
    max-width: 400px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, #2866ca, #2866ca);
    color: #fff;
    border: none;
    border-radius: 1%;
    cursor: pointer;
    width: 40%;
    display: flex; 
    flex-wrap: wrap;
    font-family: times new roman;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to bottom, #E1811C, #DE8818);
}

footer {
    background-image: linear-gradient(to right, #007bff, #0056b3);
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 5px 0;
    text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  text-align: justify;
}

/*@media (max-width: 768px) {
  button {
    width: 60%;
  }
}*/


